.reviews {
    height: 885px;
    padding-top: 100px;
    background-image: url(../img/reviews.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left bottom;
    &__inner {
        .container;
        .row(flex-start, flex-end);
    }
    &__reviews-list {
        .col-(6);
        width: 50%;
    }
}