.room-item {
    padding-top: 60px;

    @media (min-width: @screen-lg) {
        .row(flex-start, flex-start);
        padding-top: 0;
    }

    &--book {
        .room-item__price {
            display: none;
            @media (min-width: @screen-lg) {
                display: block;
            }
        }
    }

    &__photos {
        position: relative;
        @media (min-width: @screen-lg) {
            .col-(8);
        }
    }
    &__main-photo {
        display: none;
        @media (min-width: @screen-lg) {
            display: block;
            height: 550px;
            margin-bottom: 30px;
            & img {
                width: 100%;
                height: 550px;
                object-fit: cover;
            }
        }
    }
    &__gallery {
        .row(space-between, center);
        margin: 0;
        & img {
            cursor: pointer;
        }
    }
    &__gallery-item {
        height: 210px;
        object-fit: cover;
        & img {
            width: 100%;
        }
        
        @media (min-width: @screen-lg) {
            .col-(3);
            height: 110px;
        }
    }
    &__price {
        position: absolute;
        width: 100%;
        max-width: @screen-sm;
        left: 0;
        top: -30px;
        text-align: center;
        z-index: 2;

        @media (min-width: @screen-lg) {
            left: auto;
            top: 8px;
            right: 1px;
            width: 170px;
            max-width: 170px;
            height: 50px;
            background-color: @white;
            line-height: 50px;
            box-shadow: -2px 2px 9px 1px rgba(0, 0, 0, 0.23);
            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: -14px;
                width: 0;
                height: 0;
                border:7px solid transparent;
                border-left: 7px solid @secondary-text;
                border-top: 7px solid @secondary-text;
            }
        }
    }
    &__info {
        width: 100%;
        @media (min-width: @screen-lg) {
            .col-(4);
            padding-left: 40px;
        }
    }
    &__info-description {
        padding-bottom: 50px;
        &--hidden {
            display: none;
        }
    }
    &__book-form {
        &--hidden.book-form {
            display: none;
        }        
    }
    &__title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        font-size: @accent-size;
        font-family: 'Roboto Slab', sans-serif;
        text-align: center;

        @media (min-width: @screen-lg) {
            position: relative;
            left: 0;
            transform: translateX(0);
            font-size: 24px;
            margin-bottom: 40px;
        }
    }
    &__description {
        font-size: @small-size;
        margin-bottom: 35px;
    }
    &__advantages {
        margin-bottom: 60px;
        font-size: @small-size;
        list-style: none;
    }
    &__advantages-item {
        position: relative;
        padding-left: 15px;
        margin-bottom: 10px;
        &:before {
            content: '\2014';
            position: absolute;
            left: 0;
        }
    }
    &__dates {
        position: relative;
        display: flex;
        width: 100%;
        height: 65px;
        border-radius: 5px;
        border: 1px solid @primary;
        padding: 10px 0;
        margin-bottom: 40px;
        @media (min-width: @screen-lg) {
            height: 60px;
        }
    }
    &__dates-date {
        position: relative;
        width: 50%;
        padding: 0 10px;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: 15px;
            width: 24px;
            height: 24px;
            background-image: url(../img/icons/calendar.svg);
            background-size: 24px 24px;
            z-index: -1;
        }
        & input {
            width: 100%;
            height: 100%;
            border: 0;
            font-size: 14px;
            outline: none;
            padding-top: 20px;
            background: transparent;
            @media (min-width: @screen-lg) {
                padding-top: 15px;
            }
        }
    }
    &__dates-date-check-out {
        .picker {
            left: -172px;
        }
    }
    &__dates-date-caption {
        position: absolute;
        font-size: 12px;
        color: @secondary-text;
    }
    &__btn {
        display: block;
        margin: 0 auto;
        @media (min-width: @screen-lg) {
            .col-offset-(3);
        }
    }
    &__gallery-dots {
        margin-bottom: 30px;
        margin-top: 30px;
        justify-content: center;
        max-width: @screen-sm;
        @media (min-width: @screen-lg) {
            margin-bottom: 0px;
        }
    }
}